{% load static%}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Firmbee.com - Free Project Management Platform for remote teams">
    <title>House Rental Prediction</title>
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Yrsa:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <link rel="shortcut icon" href="{%static 'logo.png'%}" type="image/x-icon">

    <!-- Custom styles for this template -->
    <style>
        /*
        * Globals
        */
        *,
        *::after,
        *::before {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        margin: 0;
        padding: 0;
        }

        h1,
        h2 {
        font-family: "Didot", serif;
        font-weight: bold;
        }

        h1 {
        font-size: 50px;
        }

        h3 {
        font-size: 20px;
        }

        p {
        line-height: 35px;
        letter-spacing: 1px;
        }

        /* Links */
        a {
        text-decoration: none;
        color: black;
        }

        a:focus,
        a:hover {
        color: #00e9e6;
        }

        /*
        * Base structure
        */
        html {
        scroll-margin-top: 174px;
        }

        body {
        position: relative;
        font-family: "Lato", sans-serif;
        background-color: white;
        }

        button {
        padding: 25px;
        background-color: white;
        border: none;
        }

        button:hover, button:focus, button.active {
        color: #00e9e6;
        }

        .highlighted {
        color: #00e9e6;
        }

        .shadow-bg {
            background-color: rgba(0, 0, 0, 0.9);
            height: 17%;
        }

        .underline-dark {
        border-top: 2px solid black;
        }

        .underline-light {
        border-top: 2px solid white;
        }

        .active {
            color: #00e9e6;
        }

        .hidden {
            display: none;
        }

        /*
        * Navigation
        */
        nav {
        -webkit-transition: background-color 0.3s ease;
        transition: background-color 0.3s ease;
        z-index: 1;
        }

        nav .navbar-brand {
        font-family: "Didot", serif;
        font-size: 2vw;
        color: white;
        }

        nav .nav-item {
        color: white;
        text-align: right;
        }

        nav .nav-item:hover, nav .nav-item:focus {
        color: #00e9e6;
        }

        nav .active {
        color: #00e9e6;
        }

        nav .bi-list {
        padding: 2px;
        color: white;
        }
        @media (max-width: 360px) {
            .offcanvas-header{
                display:block;
            }
            .navbar-collapse {
                position: absolute;
                top:0;
                bottom: 0;
                left: 100%;
                width: 90%;
                height: 200%;
                overflow-y: auto;
                visibility: hidden;
                background-color: black;

            }
            .navbar-collapse.show {
                visibility: visible;
                transform: translateX(-100%);
            }
            .address{
                width: 0%;
            }
            iframe{
                position: relative;
                width: 100%;
            }
        }
        @media (max-width: 500px) {
            .offcanvas-header{
                display:block;
            }
            .navbar-collapse {
                position: absolute;
                top:20px;
                bottom: 0;
                left: 100%;
                width: 90%;
                height: 192%;
                padding-right: 1rem;
                padding-left: 1rem;
                overflow-y: auto;
                visibility: hidden;
                background-color: black;
            }
            .navbar-collapse.show {
                visibility: visible;
                transform: translateX(-100%);
            }
            .address{
                width: 150%;
            }
            iframe{
                position: relative;
            }
        }
        /*
        * Header
        */
        header {
        color: white;
        }

        header p {
        font-size: 5rem;
        font-family: "Didot", serif;
        }

        header .hero-img {
        position: relative;
        height: 100vh;
        background-image: url("{%static 'bg2.jpg'%}");
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        z-index: 0;
        }

        header .hero-img .hero-shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.85);
        z-index: -10;
        }
        header .hero-img .hero-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 100%;
        padding: 10px;
        z-index: 2;
        }

        header .hero-img .hero-text h1 {
        font-size: 10vw;
        line-height: 8.5vw;
        text-align: center;
        }

        header .hero-img .hero-text .bi-arrow-down {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        bottom: 30px;
        font-size: 120px;
        color: white;
        z-index: 3;
        }

        header .hero-img .hero-text .bi-arrow-down:hover {
        color: #00e9e6;
        }

        /*
        * Gallery
        */
        .portfolio .menu {
            margin-top: 100px;
            margin-bottom: 20px;
        }

        .logo{
            height: 90px;
            width: 120px;
        }

        .portfolio .gallery {
            margin-top: 50px;
        }
        .container{
            text-align: center;
        }
        .pre{
            width: 70%;
            text-align: center;
            align-content: center;
            align-items: center;
            padding-left: 30%;
        }
        .form{
            width: 50%;
        }
        form{
            align-content: center;
            border: 2px solid #ccc;
            border-radius: 5px;
            background-color: ghostwhite;

        }
        /*
        * About section
        */
        .about {
            background-color: white;
            color: black;
            margin-bottom: 90px;
            margin-top: 1px;
        }

        .about p {
            margin-top: 20px;
        }
        #about {
            padding-top: 200px;
            margin-top: -200px;
        }
        /*.flip-card {
            background-color: transparent;
            width: 260px;
            height: 100px;
            perspective: 10000px
        }
        .flip-card-inner {
            width: 260px;
            height: 300px;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d
        }
        .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg)
        }
        .flip-card-front,
        .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden
        }*/
        /*.flip-card-front {
            background-color: #bbb;
            color: black
        }
        .flip-card-back {
            transform: rotateY(180deg);
            width: 260px;
            height: 300px;
            background-color: #f2f2f2
        }
        .card-title {
            color: #007b5e;
            padding: 2px
        }*/
        header .con {
            background-color: #007b5e;
            height: 60px;
        }
        /*.person {
            color: #007b5e;
            font-family: 'Yrsa', serif;
            font-size: 30px;
            padding: 15px
        }
        .card-body {
            background-color: #f2f2f2
            width: 50%;
        }*/
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        .overlay {
            background-color: rgba(14,180,147,.9);
            text-align: center;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            color: #fff;

            opacity: 0;
            filter: alpha(opacity=0);

            -webkit-transition: all 450ms ease-out 0s;
            -moz-transition: all 450ms ease-out 0s;
            -o-transition: all 450ms ease-out 0s;
            transition: all 450ms ease-out 0s;

            -webkit-transform: rotateY(180deg) scale(0.5,0.5);
            -moz-transform: rotateY(180deg) scale(0.5,0.5);
            -ms-transform: rotateY(180deg) scale(0.5,0.5);
            -o-transform: rotateY(180deg) scale(0.5,0.5);
            transform: rotateY(180deg) scale(0.5,0.5);
        }
        .member-thumb {
            width: 273px;
            position: relative;
        }

        .member-thumb .overlay h5 {
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            margin: 10px 0;
        }

        .member-thumb .overlay {
            font-size: 16px;
            padding: 20px;
            line-height: 24px;
        }

        .team-member h4 {
            color: #062033;
            font-size: 18px;
            font-weight: 600;
            line-height: 24px;
            margin: 15px 0 8px;
        }

        .member-thumb:hover .overlay {
            cursor: pointer;
            opacity: 1;
            filter: alpha(opacity=100);

            -webkit-transform: rotateY(0deg) scale(1,1);
            -moz-transform: rotateY(0deg) scale(1,1);
            -ms-transform: rotateY(0deg) scale(1,1);
             -o-transform: rotateY(0deg) scale(1,1);
            transform: rotateY(0deg) scale(1,1);
        }

        .team-member:hover h4 {
            color: #0eb493;
        }
    </style>

</head>

<body data-spy="scroll" data-target="#navbar">
    <nav id="navbar" class="navbar navbar-expand-lg position-fixed top-0 w-100 py-5 line-bg">
        <div class="container">
            <div>
                <a href="{% url 'predict' %}"><img src="{%static 'logo.png'%}" class="logo"></a>

            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" data-trigger = "#navbarNavAltMarkup">
                <i class="bi bi-list"></i>
            </button>
            <div class=" navbar-collapse" id="navbarNavAltMarkup">
                <div class="offcanvas-header mt-3">
                    <button class="btn btn-outline-danger btn-close float-right"> &times</button>
                </div>
                <div class="navbar-nav ms-auto" >
                    <a class="nav-item nav-link active px-4" href="#home">Home</a>
                    <a class="nav-item nav-link px-4" href="#portfolio">Predict Rent</a>
                    <a class="nav-item nav-link px-4" href="#about">About</a>
                    <a class="nav-item nav-link px-4" href="#contact">Contact</a>
                </div>
            </div>
        </div>
    </nav>
    <header id="home">
        <div class="hero-img">
            <div class="hero-shadow"></div>
            <div class="hero-text">
                <h1 class="slide-left wow fadeInUp">
                    House Rental <br>
                    <span class="highlighted">Prediction</span> Using <br>
                    <span class="highlighted">Machine Learning</span>
                </h1>
            </div>
        </div>
    </header>
    <main>
        <section id="portfolio">
            <div class="portfolio bg-white py-5">
                <div class="pre">
                    <div class="row justify-content-between align-items-center menu">
                        <div class="col-4">
                        </div>
                        <form action="result" class="needs-validation" novalidate autocomplete="off">
                            <h2 class="wow fadeInUp">Predict Rent</h2>
                            <div class="form-outline">
                                <label>Select Location</label>
                                <select class="form-control wow fadeInUp" id="exampleFormControlSelect1" name="n0" required>
                                    <option value="" disabled selected hidden></option>
                                    <option>Thimphu</option>
                                    <option>Samtse</option>
                                    <option>Samdrup Jongkhar</option>
                                    <option>Pemagatshel</option>
                                    <option>Tsirang</option>
                                    <option>Dagana</option>
                                    <option>Paro</option>
                                    <option>Phuntsholing</option>
                                    <option>Chhukha</option>
                                    <option>Gasa</option>
                                    <option>Trongsa</option>
                                    <option>Sarpang</option>
                                    <option>Zhemgang</option>
                                    <option>Trashigang</option>
                                    <option>Monggar</option>
                                    <option>Lhuentse</option>
                                    <option>Tashiyangtse</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Select No. of Bedrooms</label>
                                <select class="form-control wow fadeInUp" id="exampleFormControlSelect1" name="n1" required>
                                    <option value="" disabled selected hidden></option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Select No. of Livingrooms</label>
                                <select class="form-control wow fadeInUp"  id="exampleFormControlSelect1" name="n2" required>
                                    <option value="" disabled selected hidden></option>
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Select No. of Bathrooms</label>
                                <select class="form-control wow fadeInUp" id="exampleFormControlSelect1" name="n3" required>
                                    <option value="" disabled selected hidden></option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>

                                </select>
                            </div>
                            <div class="form-group">
                                <label>Select No. of Kitchens</label>
                                <select class="form-control wow fadeInUp" id="exampleFormControlSelect1" name="n4" required>
                                    <option value="" disabled selected hidden></option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                            <div class="form-outline wow fadeInUp">
                                <label>Enter Square feet</label>
                                <input type="number" id="number" step="any" class="form-control" name="n5" required/>
                                <p>1 Meter Square = 10.76 Square Feet</p>
                            </div>
                            <h2 class="wow fadeInUp" style="text-align:center;">{{predicted_rent}}</h2>
                            <div class="btn">
                               <button class="btn btn-outline-primary wow fadeInUp" value="PREDICT">PREDICT</button><br><br>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <div class="underline-dark"></div><br>
        <section id="about" class="slide-left">
            <div class="about">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="row justify-content-between">
                            <div class="col-12 col-md-8">
                                <h1 class="wow fadeInUp">
                                    About House Rental Prediction
                                </h1>
                                <p class="wow fadeInUp">The house rental prediction in Bhutan using a Machine Learning is a first project ever in Bhutan. This website help each and every individual in Bhutan to get the prediction of a government house's rent reducing the problems like having to ask friends and family when one shift to a new house. People are aware of the rental price before hand and no one can do fraud to any individual. <br>

                                "Use it and be aware before hand"
                                </p>
                            </div>
                            <div class="col-12 col-md-3" style="padding: 5px;">
                                <img class="img-fluid wow fadeInUp" src="{%static 'house.jpg'%}" style="height:80%; width:100%;">
                            </div>
                        </div>

                        <div class="underline-dark"></div><br>
                        <header class=" text-center py-5 mb-4 new">
                            <div class="con">
                                <h1 class="font-weight-light text-white wow fadeInUp">Meet Our Team</h1>
                            </div>
                        </header>
                        <!-- <div class="container ">
                            <div class="row">
                                <div class="col-xl-3 col-md-6 mb-4 ">
                                    <div class="card border-0 ">
                                        <div class="flip-card">
                                            <div class="flip-card-inner wow fadeInUp">
                                                <div class="flip-card-front"> <img src="{%static 'team-2.jpg'%}" class="card-img-top" alt="avatar">
                                                    <div class="card-body text-center ">
                                                        <h5 class="card-title mb-0">Gyeltshen Wangchuk</h5>
                                                        <div class="card-text text-black-50">Back-End Developer</div>
                                                    </div>
                                                </div>
                                                <div class="flip-card-back">
                                                    <p class="description text-black-50">
                                                         <h5 style="text-align:center;"><br><br><br>
                                                        " Learning to code is useful no matter what your career ambitionsn are" <br>~Arianna Huffingtons
                                                    </h5>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card border-0 ">
                                        <div class="flip-card">
                                            <div class="flip-card-inner wow fadeInUp">
                                                <div class="flip-card-front"> <img src="{%static 'team-3.jpg'%}" class="card-img-top" alt="avatar">
                                                    <div class="card-body text-center ">
                                                    <h5 class="card-title mb-0">Karma Choden</h5>
                                                    <div class="card-text text-black-50">Data Analyst</div>
                                                </div>
                                            </div>
                                            <div class="flip-card-back wow fadeInUp">
                                                <p class="description text-black-50">
                                                     <h5 style="text-align:center;"><br><br><br>
                                                        " You can have data without information, but you cannot have information without data " <br>~Daniel keys Moran
                                                    </h5>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-0 ">
                                    <div class="flip-card">
                                        <div class="flip-card-inner wow fadeInUp">
                                            <div class="flip-card-front"> <img src="{%static 'team-4.jpg'%}" class="card-img-top" alt="avatar">
                                                <div class="card-body text-center ">
                                                    <h5 class="card-title mb-0">Saraswati Acharja</h5>
                                                    <div class="card-text text-black-50">Web Developer</div>
                                                </div>
                                            </div>
                                            <div class="flip-card-back">
                                                <p class="description text-black-50">
                                                    <h5 style="text-align:center;"><br><br><br>
                                                        " Web development is diffcult, only then it is fun to do. You jus have to set your standards. If it were to be easy, would anyone do it? "
                                                    </h5>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-0 ">
                                    <div class="flip-card">
                                        <div class="flip-card-inner wow fadeInUp">
                                            <div class="flip-card-front"> <img src="{%static 'team-5.jpg'%}" class="card-img-top" alt="avatar">
                                                <div class="card-body text-center ">
                                                    <h5 class="card-title mb-0">Tshering Dorji</h5>
                                                    <div class="card-text text-black-50">Graphic Designer</div>
                                                </div>
                                            </div>
                                            <div class="flip-card-back">
                                                <p class="description text-black-50">
                                                    <h5 style="text-align:center;"><br><br><br>
                                                        " There are three responses to a piece of design - yes, no, and WOW! Wow is the one <br>to aim for " <br>
                                                        ~Milton Glasers
                                                    </h5>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <section id="team" class="team">
            <div class="container">
                <div class="row">

                    <!-- single member -->
                    <figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
                        <div class="member-thumb">
                            <img src="{% static 'team-2.jpg' %}" alt="Team Member" class="img-responsive">
                            <figcaption class="overlay"><br><br><br><br>
                                <h5>" Learning to code is useful no matter what your career ambitionsn are" <br>~Arianna Huffingtons</h5>
                            </figcaption>
                        </div>
                        <h4>Gyeltshen Wangchuk</h4>
                        <span>Back-End Developer</span>
                    </figure>
                    <!-- end single member -->

                    <!-- single member -->
                    <figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="member-thumb">
                            <img src="{% static 'team-3.jpg' %}" alt="Team Member" class="img-responsive">
                            <figcaption class="overlay"><br><br><br><br>
                                <h5> " You can have data without information, but you cannot have information without data " <br>~Daniel keys Moran</h5>
                            </figcaption>
                        </div>
                        <h4>Karma Choden</h4>
                        <span>Data Analyst</span>
                    </figure>
                    <!-- end single member -->

                    <!-- single member -->
                    <figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
                        <div class="member-thumb">
                            <img src="{% static 'team-4.jpg' %}" alt="Team Member" class="img-responsive">
                            <figcaption class="overlay">
                                <h5><br><br><br><br>
                                 " Web development is diffcult, only then it is fun to do. You just have to set your standards. If it were to be easy, would anyone do it? " </h5>

                            </figcaption>
                        </div>
                        <h4>Saraswati Acharja</h4>
                        <span>Web Developer</span>
                    </figure>
                    <!-- end single member -->

                    <!-- single member -->
                    <figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
                        <div class="member-thumb">
                            <img src="{% static 'team-5.jpg' %}" alt="Team Member" class="img-responsive">
                            <figcaption class="overlay">
                                <h5><br><br><br><br>
                             " There are three responses to a piece of design - yes, no, and WOW! Wow is the one <br>to aim for " <br>
                            ~Milton Glasers</h5>


                            </figcaption>
                        </div>
                        <h4>Tshering Dorji</h4>
                        <span>Graphic Designer</span>
                    </figure>
                    <!-- end single member -->

                </div>
            </div>
        </section>
                    </div>
                </div>
            </div>
        </section>
        <div class="underline-dark"></div>
        <section id="contact" class="slide-left">
            <div class="contact">
                <div class="container">
                    <div class="row w-100">
                        <div class="col-lg-6 my-4 wow fadeInUp">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3547.3690392402714!2d91.19096111424615!3d27.23895295252821!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375eaa156ca2a677%3A0x281e6e8f6a9cf6ea!2sGyalpozhing%20College%20of%20Information%20Technology!5e0!3m2!1sen!2sbt!4v1653421582872!5m2!1sen!2sbt" class="w-100" height="400" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    <div class="col-lg-6 my-4 d-flex align-items-center">
                    <div class="wow fadeInUp">
                        <p><strong>EMAIL:</strong></p><i class="fa fa-envelope">  <a href="mailto:sonampelmo.gcit@rub.edu.bt">sonampelmo.gcit@rub.edu.bt</a></i> | <i class="fa fa-envelope">  <a href="mailto:12190052.gcit@rub.edu.bt">12190052.gcit@rub.edu.bt</a></i>| <i class="fa fa-envelope">  <a href="mailto:12190056.gcit@rub.edu.bt">12190056.gcit@rub.edu.bt</a></i>| <i class="fa fa-envelope">  <a href="mailto:12190075.gcit@rub.edu.bt">12190075.gcit@rub.edu.bt</a></i>| <i class="fa fa-envelope">  <a href="mailto:12190092.gcit@rub.edu.bt">12190092.gcit@rub.edu.bt</a></i></p>
                        <p><strong>CONTACT US:</strong></p><i class="fa fa-phone"></i> +975-17859233| +975-17499118| +975-17690059| +975-17461671| +975-77281325</p>
                        <p class="wow fadeInUp"><strong>ABOUT US:</strong></p><i class="bi bi-info-circle"></i> The house rental prediction in Bhutan using a Machine Learning is a first project ever in Bhutan. This website help each and every individual in Bhutan to get the prediction of a government house's rent.</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="underline-dark"></div>
        <p class="wow fadeInUp" style="text-align: center;">© 2022 All Rights Reserved By GCIT(BScIT Third Year)</p>
    </main>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha512-0xrMWUXzEAc+VY7k48pWd5YT6ig03p4KARKxs4Bqxb9atrcn2fV41fWs+YXTKb8lD2sbPAmZMjKENiyzM/Gagw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- Isotope gallery -->
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
    <!-- or -->
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>

    <!-- Custom JS codes -->
    <script src="js/scroll.js"></script>
    <script src="js/validation.js"></script>
    <script src="js/gallery.js"></script>
    <script src="js/snippets.js"></script>
    <script>
         // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>
    <script>
        const nav = document.querySelector(".navbar");

        document.addEventListener('DOMContentLoaded', function() {

            function addShadow() {
                console.log('shadow');
                if (window.scrollY >= 300) {
                    nav.classList.add('shadow-bg');
                } else {
                    nav.classList.remove('shadow-bg');
                }
            }
            window.addEventListener('scroll', addShadow);
        })
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">
    <script>
        new WOW().init();
    </script>
    <script>
        $("[data-trigger]").on("click", function(){
            var trigger_id =  $(this).attr('data-trigger');
            $(trigger_id).toggleClass("show");
            $('body').toggleClass("offcanvas-active");
        });

        // close button
        $(".btn-close").click(function(e){
            $(".navbar-collapse").removeClass("show");
            $("body").removeClass("offcanvas-active");
        });
    </script>
</body>

</html>